.body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.works-container {
  display: none;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 15px;
}

@media screen and (min-width: 480px) {
  .works-container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .works-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .works-container {
    width: 1200px;
    display: block;
  }
}

.container-top {
  background-color: #ffffff;
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*border: 1px solid red;*/
}

@media screen and (min-width: 480px) {
  .container-top {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-top {
    width: 768px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .container-top {
    width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.container-second {
  background-color: #2f303a;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
}

@media screen and (min-width: 480px) {
  .container-second {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-second {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-second {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav-mobile {
    display: none;
  }
}

.menu-button {
  margin: 0;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  background-color: white;
}

.icon-cross {
  cursor: pointer;
}

.menu-button:hover .icon-cross,
.menu-button:focus .icon-cross {
  fill: #2196f3;
}

.icon-menu {
  cursor: pointer;
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  fill: #2196f3;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  height: 30px;
}

.mobile-menu-container {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid #f5f4fa;
  background-color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.mobile-menu-container.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile-menu-container {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu-container {
    display: none;
  }
}

.mobile-list {
  list-style: none;
}

.mobile-list-item {
  margin-bottom: 40px;
}

.mobile-link {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile-link:hover, .mobile-link:focus {
  color: #2196f3;
}

.mobile-link.par::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.header-portfolio {
  position: relative;
  /* border-bottom: 1px solid #f5f4fa;*/
  padding-top: 16px;
  padding-bottom: 16px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .header-portfolio {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.logo-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    height: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-img {
    margin-right: 93px;
  }
}

.second-letter {
  margin-left: 5px;
  color: #212121;
}

.nav-icon {
  position: absolute;
  top: -5px;
  right: 7px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav-icon {
    display: none;
  }
}

.nav-icon:hover, .nav-icon:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav-studio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .nav-studio {
    margin-left: 0px;
  }
}

.nav-all {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 22px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    margin-top: 0px;
  }
}

.navigation-list-item {
  position: relative;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .navigation-list-item {
    margin-bottom: 0px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list-item {
    margin-bottom: 0px;
    margin-right: 50px;
  }
}

.navigation-link.par::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .navigation-link.par::after {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-link.par::after {
    width: 100%;
  }
}

.navigation-link {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .navigation-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navigation-link:hover, .navigation-link:focus {
  color: #2196f3;
}

.address-top {
  display: none;
  text-align: center;
  margin-top: -20px;
}

@media screen and (min-width: 768px) {
  .address-top {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .address-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 32px;
    padding-bottom: 20px;
  }
}

.icont {
  padding-right: 10px;
}

.icon-m {
  padding-top: 2px;
  padding-right: 10px;
}

.tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .tel {
    margin-bottom: 0px;
    float: left;
  }
}

@media screen and (min-width: 1200px) {
  .tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: -10px;
    margin-left: 30px;
  }
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .mail {
    display: block;
  }
}

.header-mail {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover, .header-mail:focus {
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  -ms-flex-item-align: start;
      align-self: start;
  padding-top: 1px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover, .header-tel:focus {
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mail-icon {
  fill: #757575;
  width: 16px;
  height: 12px;
}

.header-mail:hover .mail-icon,
.header-mail:focus .mail-icon {
  fill: #2196f3;
}

.mail-icon-tel {
  fill: #757575;
  width: 10px;
  height: 16px;
}

.header-tel:hover .mail-icon-tel,
.header-tel:focus .mail-icon-tel {
  fill: #2196f3;
}

/*hero section*/
.hero {
  padding: 0 15px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Hero.img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero.img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Hero.img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero.img@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tab-hero.img.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tab-hero.img.jpg");
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tab-hero.img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tab-hero.img@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.desc.Img.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.desc.Img.jpg");
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.desc.Img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.desc.Img@2x.jpg");
  }
}

.hero-conent {
  margin: 0 auto;
  display: block;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .hero-conent {
    margin: 0 auto;
    display: block;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .hero-conent {
    margin: 0 auto;
    display: block;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
  }
}

.hero-title {
  display: block;
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  color: #212121;
  background-color: #2196f3;
  border: 1px solid black;
  border-color: #2196f3;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  min-width: 200px;
  text-align: center;
  padding: 10px 32px;
  color: #fff;
}

.hero-button:hover, .hero-button:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/*opportunity-section*/
.opportunity {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .opportunity {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.opportunity-list {
  list-style: none;
  margin: auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .opportunity-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .opportunity-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.opportunity-list-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .opportunity-list-item {
    margin: 0 auto;
    margin-right: 30px;
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .opportunity-list-item {
    margin: 0;
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
}

@media screen and (min-width: 768px) {
  .opportunity-list-item:nth-child(2) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .opportunity-list-item:nth-child(4) {
    margin-right: 0px;
  }
}

.opportunity-list-item::before {
  content: '';
  height: 100px;
  display: block;
  border: 1px solid #f5f4fa;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
}

.opportunity-list-item:nth-child(1)::before {
  background-image: url("../images/antenna 1.svg");
}

.opportunity-list-item:nth-child(2)::before {
  background-image: url("../images/clock 1.svg");
}

.opportunity-list-item:nth-child(3)::before {
  background-image: url("../images/diagram 1.svg");
}

.opportunity-list-item:nth-child(4)::before {
  background-image: url("../images/astronaut 1.svg");
}

.opportunity-title {
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.opportunity-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/*works-section*/
.works {
  display: none;
}

@media screen and (min-width: 1200px) {
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 66px;
  }
}

.works-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.works-list {
  margin-top: 30px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-item {
  position: relative;
  width: 450px;
}

.works-content {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

/*team-section*/
.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}

.team-list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-list-item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #f1eaea;
  background-color: #ffffff;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list-item {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
    margin-top: 30px;
  }
}

.team-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-employee {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 35px;
  padding-bottom: 10px;
  letter-spacing: 0.03em;
}

.team-profession {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  padding-bottom: 16px;
  letter-spacing: 0.03em;
}

.team-sosial-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:focus, .team-link:hover {
  background-color: #2196f3;
  border-radius: 50%;
  outline: none;
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.team-link:hover .team-icon,
.team-link:focus .team-icon {
  fill: #ffffff;
}

.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .clients-container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .clients-container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .clients-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.clients-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #212121;
}

.clients-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  height: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

@media screen and (min-width: 768px) {
  .clients-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 226px;
        flex-basis: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 170px;
        flex-basis: 170px;
  }
}

.clients-item:hover, .clients-item:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.clients-item:nth-child(2) {
  margin-bottom: 30px;
}

.clients-item:nth-child(4) {
  margin-bottom: 30px;
}

.clients-item:nth-child(5) {
  margin-bottom: 30px;
}

.clients-icon {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.clients-item:hover .clients-icon,
.clients-item:focus .clients-icon {
  fill: #2196f3;
}

.clients-icon-four {
  width: 80px;
  height: 45px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.clients-link:hover .clients-icon-four,
.clients-link:focus .clients-icon-four {
  fill: #2196f3;
}

.clients-icon-five {
  width: 59px;
  height: 47px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.clients-link:hover .clients-icon-five,
.clients-link:focus .clients-icon-five {
  fill: #2196f3;
}

.clients-icon-six {
  width: 88px;
  height: 45px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.clients-link:hover .clients-icon-six,
.clients-link:focus .clients-icon-six {
  fill: #2196f3;
}

/*footer-section*/
.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-info {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-info {
    display: inline-block;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-info {
    margin-bottom: 0px;
    margin-right: 70px;
    text-align: left;
  }
}

.footer-img {
  margin-bottom: 20px;
  width: 145px;
}

.footer .footer-img {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.color-letter {
  display: inline-block;
  color: #2196f3;
  margin-right: -7px;
}

.footer-list {
  list-style: none;
}

.footer-item {
  margin-bottom: 0px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-item .footer-list-map,
.footer-mail,
.footer-tel {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-map,
.footer-mail {
  color: #ffffff;
  margin-bottom: 9px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-map:hover, .footer-list-map:focus,
.footer-mail:hover,
.footer-mail:focus {
  color: #2196f3;
}

.footer-tel {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:hover, .footer-tel:focus {
  color: #2196f3;
}

.social-down {
  display: inline-block;
  width: 206px;
  height: 80px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .social-down {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .social-down {
    text-align: left;
    margin-bottom: 0px;
  }
}

.link-down-title {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.link-down-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.footer-button-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer-button-icon:hover {
  fill: #ffffff;
  cursor: pointer;
}

.footer-team-button {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #3e3e41;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-team-button:hover, .footer-team-button:focus {
  background-color: #2196f3;
  cursor: pointer;
}

/* Footer - form*/
@media screen and (min-width: 1200px) {
  .form-section {
    margin-left: 93px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 768px) {
  .footer-box {
    margin-right: auto;
    margin-left: auto;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 358px;
  }
}

.email-input {
  border-radius: 4px;
  width: 100%;
  background-color: #2f303a;
  padding-left: 16px;
  padding: 15px;
  border: 1px solid #757575;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .email-input {
    margin-bottom: 0px;
  }
}

.button-submit-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  text-transform: none;
}

@media screen and (min-width: 1200px) {
  .button-submit-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 12px;
  }
}

.button-submit-footer:hover, .button-submit-footer:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-submit-icon {
  display: inline;
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

/* backdrop section*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 800px) {
  .modal {
    max-width: 450px;
  }
}

@media screen and (min-width: 550px) and (max-width: 1020px) and (orientation: landscape) {
  .modal {
    top: 90%;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

/*Form-section*/
.modal h2 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form {
  /* outline: 1px solid red;*/
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  padding-top: 40px;
}

@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
  }
}

.form-area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* outline: 1px solid blue;*/
  margin-bottom: 10px;
}

.form-area input {
  padding: 12px;
  padding-left: 42px;
  padding-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-area textarea {
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
}

.form-area input:hover,
.form-area input:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
  outline: none;
}

.input-modal {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus + .form-icon,
.input-modal:hover + .form-icon {
  fill: #2196f3;
  cursor: pointer;
}

.modal-textarea {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover, .modal-textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
  cursor: pointer;
}

.form-icon {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(30px) translateX(15px);
          transform: translateY(30px) translateX(15px);
  width: 18px;
  height: 18px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-area label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .form-checkbox {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.check-text {
  font-size: 12px;
}

.form-checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbpx-link {
  color: #2196f3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.input-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .input-hiden {
    margin-bottom: 0px;
  }
}

.modal-checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 7px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .modal-checkbox-label::before {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-checkbox-label::before {
    margin-bottom: 0px;
  }
}

.modal-checkbpx-input:checked + .modal-checkbox-label::before {
  background-image: url("../images/icon-check.svg");
  background-color: #2196f3;
  border-color: #2196f3;
  background-position: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .modal-checkbpx-input:checked + .modal-checkbox-label::before {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-checkbpx-input:checked + .modal-checkbox-label::before {
    margin-bottom: 0px;
  }
}

.form-button {
  text-align: center;
}

.button-submit {
  text-align: center;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button-submit:hover, .button-submit:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon-close {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .icon-close,
.close-button:focus .icon-close {
  fill: #2196f3;
}

/*portfolio-html*/
@media screen and (min-width: 480px) {
  .portfolio-container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 94px;
  }
}

.menu-nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .menu-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .menu-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 94px;
  }
}

.nav-list-item {
  padding-right: 8px;
  margin-bottom: 15px;
}

.button-all {
  text-decoration: none;
  color: #212121;
  background-color: #f5f4fa;
  border: 1px solid black;
  border-color: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 73px;
  min-height: 38px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-all:hover, .button-all:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.button-nav {
  text-decoration: none;
  color: var(--general-color);
  background-color: #f5f4fa;
  border: 1px solid black;
  border-color: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 128px;
  min-height: 38px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-nav:hover, .button-nav:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.portfolio-list-item {
  width: 100%;
  /* margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  width: 300px;*/
}

@media screen and (min-width: 768px) {
  .portfolio-list-item {
    margin-bottom: 30px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list-item {
    width: 370px;
  }
}

/*.portfolio-list-item:nth-child(3) {
  margin-right: 0px;
}
.portfolio-list-item:nth-child(6) {
  margin-right: 0px;
}
.portfolio-list-item:nth-child(9) {
  margin-right: 0px;
}*/
.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-link {
  display: block;
  text-decoration: none;
}

.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  padding-top: 24px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.portfolio-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
  padding-bottom: 20px;
}

.overlay {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  background-color: #2196f3;
  color: #ffffff;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(370px);
          transform: translateY(370px);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.portfilio-img-container {
  position: relative;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */