/* Footer - form*/
.form-section {
  @media screen and(min-width: 1200px) {
    margin-left: 93px;
    text-align: left;
  }
}
.form-footer {
  @media screen and(min-width: 1200px) {
    display: flex;
  }
}
.footer-box {
  flex-direction: row;

  @media screen and(min-width: 768px) {
    margin-right: auto;
    margin-left: auto;
    width: 450px;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
    width: 358px;
  }
}
.email-input {
  border-radius: 4px;
  width: 100%;
  background-color: $color-back;
  padding-left: 16px;
  padding: 15px;
  border: 1px solid #757575;
  margin-bottom: 20px;
  @media screen and(min-width: 768px) {
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 0px;
  }
}

.button-submit-footer {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: $color-accent;
  color: $color-general-second;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  text-transform: none;

  @media screen and(min-width: 1200px) {
    display: flex;
    margin-left: 12px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.button-submit-icon {
  display: inline;
  width: 24px;
  height: 24px;
  fill: $color-general-second;
  margin-left: 10px;
}
