/*team-section*/
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-general;
  padding-bottom: 50px;
}
.team-list {
  list-style: none;
}
.team-list-item {
  margin: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: 1px solid rgb(241, 234, 234);
  background-color: $color-general-second;
  text-align: center;
  width: 450px;
}

.team-list-item:not(:first-child) {
}

.team-employee {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: $color-general;
  padding-top: 35px;
  padding-bottom: 10px;
  letter-spacing: 0.03em;
}
.team-profession {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $color-paragraph;
  padding-bottom: 16px;
  letter-spacing: 0.03em;
}

.team-sosial-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: $color-general-second;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: $color-accent;
    border-radius: 50%;
    outline: none;
  }
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  .team-link:hover &,
  .team-link:focus & {
    fill: $color-general-second;
  }
}
