.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
.clients-container {
  text-align: center;

  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
}

.clients-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: $color-general;
}

.clients-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.clients-item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.clients-item:nth-child(2) {
  margin-right: 0px;
}
.clients-item:nth-child(4) {
  margin-right: 0px;
}
.clients-item:nth-child(6) {
  margin-right: 0px;
  margin-bottom: 0px;
}
.clients-item:nth-child(5) {
  margin-bottom: 0px;
}

.clients-link {
  display: flex;
  width: 210px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid#afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  &:hover,
  &:focus {
    border: 1px solid $color-accent;
    border-radius: 4px;
  }
}

.clients-icon {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  .clients-link:hover &,
  .clients-link:focus & {
    fill: $color-accent;
  }
}
.clients-icon-four {
  width: 80px;
  height: 45px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  .clients-link:hover &,
  .clients-link:focus & {
    fill: $color-accent;
  }
}

.clients-icon-five {
  width: 59px;
  height: 47px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  .clients-link:hover &,
  .clients-link:focus & {
    fill: $color-accent;
  }
}
.clients-icon-six {
  width: 88px;
  height: 45px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  .clients-link:hover &,
  .clients-link:focus & {
    fill: $color-accent;
  }
}
