/*portfolio-html*/
.portfolio-container {
  @media screen and(min-width: 480px) {
    max-width: 480px;
    margin: 0 auto;
  }
  @media screen and(min-width: 768px) {
    max-width: 768px;
    margin: 0 auto;
  }
  @media screen and(min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 94px;
  }
}
.menu-nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 40px;
  padding-top: 60px;
  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: center;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
    justify-content: center;
    padding-top: 94px;
  }
}
.nav-list-item {
  padding-right: 8px;
  margin-bottom: 15px;
}
.button-all {
  text-decoration: none;
  color: $color-general;
  background-color: #f5f4fa;
  border: 1px solid black;
  border-color: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 73px;
  min-height: 38px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-general-second;
    background-color: $color-accent;
    border-color: $color-accent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
}
.button-nav {
  text-decoration: none;
  color: var(--general-color);
  background-color: #f5f4fa;
  border: 1px solid black;
  border-color: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 128px;
  min-height: 38px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-general-second;
    background-color: $color-accent;
    border-color: $color-accent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
}

.portfolio-list {
  list-style: none;
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and(min-width: 1200px) {
  }
}
.portfolio-list-item {
  width: 100%;
  @media screen and(min-width: 768px) {
    margin-bottom: 30px;
    width: 354px;
  }
  @media screen and(min-width: 1200px) {
    width: 370px;
  }
  
.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
}
.portfolio-link {
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-title {
  color: $color-general;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  padding-top: 24px;
  padding-bottom: 4px;
  padding-left: 24px;
}
.portfolio-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: $color-paragraph;
  padding-left: 24px;
  padding-bottom: 20px;
}
.overlay {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  background-color: $color-accent;
  color: $color-general-second;

  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(370px);
  transition: transform 250ms linear;
  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0px);
  }
}
.portfilio-img-container {
  position: relative;
  overflow: hidden;
}
