/*opportunity-section*/

.opportunity {
  padding-top: 60px;
}

.opportunity-list {
  list-style: none;
  margin: auto;
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}

.opportunity-list-item {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    margin-right: 30px;
    flex-basis: 354px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
    flex-basis: 270px;
  }
}
.opportunity-list-item:nth-child(2) {
  @media screen and (min-width: 768px) {
    margin-right: 0px;
  }
}
.opportunity-list-item:nth-child(4) {
  @media screen and (min-width: 768px) {
    margin-right: 0px;
  }
}
.opportunity-list-item::before {
  content: '';

  height: 100px;
  display: block;
  border: 1px solid #f5f4fa;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
}
.opportunity-list-item:nth-child(1)::before {
  background-image: url('../images/antenna\ 1.svg');
}
.opportunity-list-item:nth-child(2)::before {
  background-image: url('../images/clock\ 1.svg');
}
.opportunity-list-item:nth-child(3)::before {
  background-image: url('../images/diagram\ 1.svg');
}
.opportunity-list-item:nth-child(4)::before {
  background-image: url('../images/astronaut\ 1.svg');
}
.opportunity-title {
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-general;
}
.opportunity-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $color-paragraph;
}
