/*footer-section*/
.footer {
  background-color: $color-back;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
}
.footer-thumb {
  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and(min-width: 1200px) {
  }
}
.footer-info {
  margin-bottom: 60px;
  @media screen and(min-width: 768px) {
    display: inline-block;
    margin-bottom: 60px;
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 0px;
    margin-right: 70px;
    text-align: left;
  }
}
.footer-img {
  margin-bottom: 20px;
  width: 145px;
}
.footer .footer-img {
  display: inline-block;
  color: $color-general-second;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.color-letter {
  display: inline-block;
  color: $color-accent;
  margin-right: -7px;
}
.footer-list {
  list-style: none;
}
.footer-item {
  margin-bottom: 0px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-item .footer-list-map,
.footer-mail,
.footer-tel {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-map,
.footer-mail {
  color: $color-general-second;
  margin-bottom: 9px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $color-accent;
  }
}
.footer-tel {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $color-accent;
  }
}
.social-down {
  display: inline-block;
  width: 206px;
  height: 80px;
  margin-bottom: 60px;

  @media screen and(min-width: 768px) {
    margin-bottom: 60px;
  }
  @media screen and(min-width: 1200px) {
    text-align: left;
    margin-bottom: 0px;
  }
}
.link-down-title {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-general-second;
  margin-bottom: 20px;
}

.link-down-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer-button-icon {
  fill: $color-general-second;
  width: 20px;
  height: 20px;

  &:hover {
    fill: $color-general-second;
    cursor: pointer;
  }
}

.footer-team-button {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #3e3e41;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color-accent;
    cursor: pointer;
  }
}
