.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: auto;
  @media screen and(min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.header-portfolio {
  position: relative;
  /* border-bottom: 1px solid #f5f4fa;*/
  padding-top: 16px;
  padding-bottom: 16px;
  margin: auto;
  @media screen and(min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.logo-img {
  display: none;

  @media screen and(min-width: 768px) {
    display: flex;
    color: $color-general-second;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    height: 30px;
    margin-right: 30px;
  }
  @media screen and(min-width: 1200px) {
    margin-right: 93px;
  }
}
.second-letter {
  margin-left: 5px;
  color: $color-general;
}
.nav-icon {
  position: absolute;
  top: -5px;
  right: 7px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: $color-accent;
  }
}

.nav-studio {
  @media screen and(min-width: 768px) {
    display: flex;
  }
  @media screen and(min-width: 1200px) {
    margin-left: 0px;
  }
}

.nav-all {
  text-align: center;
}
.navigation {
  @media screen and(min-width: 768px) {
    margin-top: 0px;
    display: flex;
    align-items: center;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.navigation-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
  }
  @media screen and(min-width: 768px) {
    margin-top: 0px;
  }
}
.navigation-list-item {
  position: relative;
  margin-bottom: 40px;
  @media screen and(min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 50px;
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 0px;
    margin-right: 50px;
  }
}

.navigation-link.par {
  color: $color-accent;
}
.navigation-link.par::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  color: $color-accent;
  background-color: $color-accent;
  margin-top: 8px;

  @media screen and(min-width: 768px) {
    width: 100%;
  }
  @media screen and(min-width: 1200px) {
    width: 100%;
  }
}

.navigation-link {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $color-general;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @media screen and(min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.address-top {
  display: none;
  text-align: center;
  margin-top: -20px;
  @media screen and(min-width: 768px) {
    display: block;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 20px;
  }
}

.icont {
  padding-right: 10px;
}
.icon-m {
  padding-top: 2px;
  padding-right: 10px;
}
.tel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  @media screen and(min-width: 768px) {
    margin-bottom: 0px;
    float: left;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
    margin-left: 30px;
  }
}
.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  @media screen and(min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and(min-width: 1200px) {
    display: block;
  }
}
.header-mail {
  margin-top: 20px;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $color-paragraph;
  text-decoration: none;

  text-align: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.header-tel {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $color-paragraph;
  text-decoration: none;
  align-self: start;
  padding-top: 1px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.mail-icon {
  fill: $color-paragraph;
  width: 16px;
  height: 12px;

  .header-mail:hover &,
  .header-mail:focus & {
    fill: $color-accent;
  }
}
.mail-icon-tel {
  fill: $color-paragraph;
  width: 10px;
  height: 16px;

  .header-tel:hover &,
  .header-tel:focus & {
    fill: $color-accent;
  }
}
