/*Header*/
.header {
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-portfolio {
  border-bottom: 1px solid #f5f4fa;
}

.logo {
  width: 145px;
  height: 31px;
}
.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $color-accent;
  }
}
.backdrop-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu {
  padding-top: 16px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  left: 240px;
  top: 225px;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 453px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $color-general-second;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: $color-general-second;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.menu-icon-close {
  display: block;
  width: 40px;
  height: 40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .menu-close-button:hover &,
  .menu-close-button:focus & {
    fill: $color-accent;
  }
}

.nav-all {
  /*display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;*/
  text-align: center;
}
.navigation {
  margin-top: 60px;
}
.logo {
  display: flex;
  width: 145px;
  height: 31px;
  margin-right: 93px;
  margin-bottom: 27px;
}

.navigation-list {
  list-style: none;
}
.navigation-list-item {
  margin-bottom: 40px;
}
.par {
  color: $color-accent;
}
.par::after {
  content: '';
  width: 11%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: $color-accent;
  margin-top: 8px;
  margin-left: 200px;
}

.navigation-link {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $color-general;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.address-top {
}
.icont {
  display: flex;
  padding-right: 10px;
}
.icon-m {
  display: flex;
  padding-top: 2px;
  padding-right: 10px;
}
.tel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.header-mail {
  margin-top: 20px;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $color-paragraph;
  text-decoration: none;

  text-align: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.header-tel {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $color-paragraph;
  text-decoration: none;
  align-self: start;
  padding-top: 1px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.mail-icon {
  fill: $color-paragraph;
  width: 16px;
  height: 12px;

  .header-mail:hover &,
  .header-mail:focus & {
    fill: $color-accent;
  }
}
.mail-icon-tel {
  fill: $color-paragraph;
  width: 10px;
  height: 16px;

  .header-tel:hover &,
  .header-tel:focus & {
    fill: $color-accent;
  }
}
/*hero section*/
.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: $color-back;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 198px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
}
.hero-content {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.hero-title {
  display: block;
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  color: $color-general-second;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-button {
  color: $color-general;
  background-color: $color-accent;
  border: 1px solid black;
  border-color: $color-accent;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  min-width: 200px;
  text-align: center;
  padding: 10px 32px;
  color: #fff;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
}
