/*hero section*/
.hero {
  padding: 0 15px;
  margin: 0 auto;
  background-color: $color-back;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/Hero.img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  @media screen and(min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and( min-resolution: 192dpi) and (min-width: 320px),
    screen and( min-resolution: 2dppx) and (min-width: 320px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/Hero.img@2x.jpg');
  }

  @media screen and(min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/tab-hero.img.jpg');
    background-size: cover;
  }
  @media screen and(min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and( min-resolution: 192dpi) and (min-width: 768px),
    screen and( min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/tab-hero.img@2x.jpg');
  }
  @media screen and(min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero.desc.Img.jpg');
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  @media screen and(min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and( min-resolution: 192dpi) and (min-width: 1200px),
    screen and( min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero.desc.Img@2x.jpg');
  }
}

.hero-conent {
  margin: 0 auto;
  display: block;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
@media screen and(min-width: 480px) {
  .hero-conent {
    margin: 0 auto;
    display: block;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and(min-width: 768px) {
  .hero-conent {
    margin: 0 auto;
    display: block;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
  }
}
.hero-title {
  display: block;
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  color: $color-general-second;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-button {
  color: $color-general;
  background-color: $color-accent;
  border: 1px solid black;
  border-color: $color-accent;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  min-width: 200px;
  text-align: center;
  padding: 10px 32px;
  color: #fff;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
}
