$color-general: #212121;
$color-paragraph: #757575;
$color-accent: #2196f3;
$color-back: #2f303a;
$color-general-second: #ffffff;

.body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  align-items: center;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
}
.container-top {
  position: relative;
  background-color: $color-general-second;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
}

.container-second {
  background-color: $color-back;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
}
